In [52]:
import pandas as pd

df = pd.read_csv('../Data/Stunting_wasting_dataset.csv', sep=',')

df.head()

,Jenis Kelamin,Umur (bulan),Tinggi Badan (cm),Berat Badan (kg),Stunting,Wasting
0,Laki-laki,19,91.6,13.3,Tall,Risk of Overweight
1,Laki-laki,20,77.7,8.5,Stunted,Underweight
2,Laki-laki,10,79.0,10.3,Normal,Risk of Overweight
3,Perempuan,2,50.3,8.3,Severely Stunted,Risk of Overweight
4,Perempuan,5,56.4,10.9,Severely Stunted,Risk of Overweight

In [53]:
df.describe()

        Umur (bulan)  Tinggi Badan (cm)  Berat Badan (kg)
count  100000.000000      100000.000000     100000.000000
mean       11.992580          73.132657          9.259256
std         7.199671          11.360846          3.300780
min         0.000000          42.600000          1.000000
25%         6.000000          65.500000          6.900000
50%        12.000000          74.200000          9.200000
75%        18.000000          81.400000         11.700000
max        24.000000          97.600000         17.200000

In [57]:
df1 = (df[["Berat Badan (kg)", "Jenis Kelamin","Umur (bulan)", "Tinggi Badan (cm)"]]
        .rename(columns={"Jenis Kelamin":"jk", "Umur (bulan)":"umur_bulan",
                        "Tinggi Badan (cm)":"tinggi_cm", "Berat Badan (kg)": "Berat_kg"}).copy())

# Laki-laki 1, Perempuan 0
df1["jk"] = df1["jk"].map({"Laki-laki": 1, "Perempuan": 0})
df1.head()

   Berat_kg  jk  umur_bulan  tinggi_cm
0      13.3   1          19       91.6
1       8.5   1          20       77.7
2      10.3   1          10       79.0
3       8.3   0           2       50.3
4      10.9   0           5       56.4

# Analisis Korelasi

In [58]:
corr_matrix = df1.corr()

print(corr_matrix)

            Berat_kg        jk  umur_bulan  tinggi_cm
Berat_kg    1.000000  0.045797    0.665389   0.626005
jk          0.045797  1.000000    0.004046   0.073505
umur_bulan  0.665389  0.004046    1.000000   0.875869
tinggi_cm   0.626005  0.073505    0.875869   1.000000

In [16]:
# Membuat Heatmap Grafik
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(8, 6))
sns.heatmap(corr_matrix = df1.corr(), annot=True, cmap="coolwarm", fmt=".2f")
plt.title("matriks korelasi df1")
plt.show()

NameError: name 'df1' is not defined